@page "/"

<PageTitle>Some useful South African Calculators</PageTitle>
<h3>Some useful South African Calculators:</h3>

    <div class="container text-left">
        <div class="row">
            <div class="col-md-6">
                <a href="PrimeRateMonthlyAverage" target="_blank">Prime Rate Monthly Average Calculator</a>
            </div>
            </div>
        </div>

                @code {

                }

